*{
    margin: 0;
} 
/* START NAVBAR */
.navbar{
background-color: #1E202B;
} 
.navbar-nav .nav-link.active{
    color: #009ad8 !important;
    border-color: #009ad8 !important;
    border: 2px solid transparent;
    border-radius: 30px;
}     
.navbar-nav .nav-link{
    padding: 5px 25px !important;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: all 0.3s ease !important;
}
.navbar-nav .nav-link:hover {
    border-color: #009ad8 !important;
    padding: 5px 25px !important;
    border: 2px solid transparent;
    border-radius: 30px;   
    color: #009ad8 !important;
} 
.navbar-brand { 
    font-family: Roboto, "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    color: rgb(255, 255, 255);
}
.navbar-brand span{
    font-family: Roboto, "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 15px;
    font-size: 10px;
    color: rgb(191, 193, 200);
}
.nav-item a{
    color: white;
}
/* END NAVBAR */
/* START HEADER */
.hero{
    background-image: url(../images/banner.png);
    background-position: center center;
    background-size: cover;
    height: 50vh;
    padding: 70px 0;
    z-index: 3;
    
}
.bg-color{
    background-color: #1E202B;
padding: 200px;
z-index: -1;
}
#today-date-day-name ,#today-date-day-number,#today-date-month,.aftertomorrow{
    font-family: Roboto, "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    list-style: 21px;
    color: rgb(191, 193, 200);
}
#today-location{
    font-family: Roboto, "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgb(191, 193, 200);
}
.todayTemp{
    font-family: Roboto, "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 90px;
    line-height: 135px;
    color: rgb(255, 255, 255);
}
.next-max-temp{
    font-family: Roboto, "Open Sans", sans-serif;
    font-weight: 700;
    line-height: 36px;
    font-size: 24px;
    color: rgb(255, 255, 255);
}
.next-min-temp,.test{
    font-family: Roboto, "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 24px;
    font-size: 16px;
    color: 
    rgb(191, 193, 200);
}
.bg-main-color{
    background-color: #2D303D;
}
.bg-main-color2{
    background-color: #222530;
}
.bg-sec-color  {
    background-color: #323544;
}
.bg-sec-color2{
    background-color: #262936;
}
.footer-img-hero{
    font-family: Roboto, "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 21px;
    font-size: 14px;
    color: rgb(191, 193, 200);
}
.text-light-blue,#text-light-bluee,#text-light-blueee{
    font-family: Roboto, "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 21px;
    font-size: 14px;
    color: rgb(0, 154, 216);
}
.find-location {
    position: relative;
    margin-bottom: 70px;
}
.f-input{
    padding: 15px 20px 15px 15px;
    border-radius: 30px;
    background-color: #1E202B;
    border-color: transparent !important;
}
form input{
    border: none !important; 
}
.b-input{
    background-color: #009ad8;
    color: white;
    border-color: #009ad8 !important;
    border: 2px solid transparent;
    border-radius: 30px;   
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0 40px !important;
}
.b-input2{
    background-color: #009ad8;
    color: white;
    border-color: #009ad8 !important;
    border: 2px solid transparent;
    border-radius: 30px;  
    top: 5px;
    right:5px;
    bottom: 5px;
    padding: 0 40px !important;
}
.back-ground{
    background-color: #1E202B;
}
/* END HEADER */
/* START FOOTER  */
footer{
    background-color: #262936;
}
:focus-visible {
    outline: none !important;
}
.icons ul li{
    width: 40px;
    height: 40px;
    background-color: #1E202B;
    border-radius: 50%;
    border: 1px solid #1E202B;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #009AD8 ;
    transition: all 0.3s ease;
    cursor: pointer;    
}
.icons ul li:hover{
    color: white;
    background-color: #009ad8;
    border: 1px solid #009ad8;
}
.footer-copyright{
    font-family: Roboto, "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: rgb(191, 193, 200);
}
/* START CONTACT */
.heroo{
    background-color: #1E202B;
}
.f-input2{
    background-color: #262936;
    padding: 15px 20px 15px 15px;
    border-radius: 30px;
}
.sub-btn {
    background-color: #009AD8;
    color: white !important;

}
.location-contact{
    background-color: #262936;
}
.location-contact p{
    color: rgb(191, 193, 200);
}
.color-contact-icon{
    color: #009AD8 !important;
}
#contact-message input ,textarea{
     border: 2px solid #262936 !important;
}
#contact-message input:focus-visible ,textarea:focus-visible{
outline-color: #009AD8 !important;
}
#contact-message input:hover ,textarea:hover {
border: 2px solid #009AD8 !important;
}
.bg-text-area{
    background-color: #1E202B;
}
.navbar-toggler {
    color: #009AD8;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;        
}
.navbar-toggler .navbar-toggler-icon {
    color: #009AD8 !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
}